.itemmenu{
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.itemmenu .sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    left: 0px;
    right: 0;
    width: 75px;
    height: 100vh;
}

.itemmenu .sidebar .fork{
    width: 35px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}
.itemmenu .sidebar .clip{
    width: 35px;
    height: 35px;
    margin-bottom: 50px;
    cursor: pointer;
}
.itemmenu .sidebar .add{
    width: 35px;
    height: 35px;
    margin-bottom: 50px;
    cursor: pointer;
}
.itemmenu .product{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E5E5E5;
    border-right: solid 2px rgb(180, 178, 178);
    transition: all ease-in-out 500ms;
}
.itemmenu .product .prd{
    display: flex;
    flex-direction: column;
    margin: 20px;
    transition: 50ms;
}
.itemmenu .product .prd img{
    height: 200px;
    width: 250px;
}
.itemmenu .product .prd .itemname{
    font-size: 20px;
    font-weight: 500;
}
.itemmenu .product .prd .itemprice{
    font-size: 20px;
    font-weight: 800;
}
.itemmenu .row{
    width: 100%;

}
.income{
    display: flex;
    height: 260px;
    padding: 15px;
}
.income .card{
    display: flex;
    width: 35%;
    height: 213px;
    margin: 10px;
    border-radius: 10px;
}
.income .card img{
    width: 190px;
    height: 140px;
    margin-top: 12px;
    margin-left: 190px;
}
.card .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 50px 50px 30px;
}
.card .namecard{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
.card .price{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
.card .year{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
#one{
    background: linear-gradient(278.29deg, #FBB2B4 30.05%, rgba(255, 143, 178, 0) 133.19%);
    box-shadow: 10px 15px 10px 0px #FF8FB240;
}
#two{
    background: linear-gradient(278.29deg, #29DFFF 30.05%, rgba(41, 223, 255, 0) 133.19%);
    box-shadow: 10px 15px 10px 0px #29DFFF40;
}
#three{
    background: linear-gradient(278.29deg, #AB84C8 30.05%, rgba(241, 201, 236, 0) 133.19%);
    box-shadow: 10px 15px 10px 0px #F1C9EC40;
}
.revenue{
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
.revenue .chart{
    width: 100%;
}
.row .cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
}
.cart .cartid{
    width: 100%;
    height: 700px;
    overflow: overlay;
}

.cart .cartid .cartprd{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.cart .cartid .cartprd img{
    width: 100px;
    height: 100px;
}

.cart .cartid .cartprd .row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 160px;
    padding-right: 7px;
}
.cart .cartid .cartprd .row .cartname{
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Airbnb Cereal App', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
    /* background-color: yellow; */
}
.cart .cartid .cartprd .row .btn{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
    /* background-color: grey; */
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.cart .cartid .cartqty .empty{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cart .cartid .cartqty .empty .cup{
    height: 150px;
    width: 150px;
    margin-bottom: -30px;

}
.cart .cartid .cartqty .empty h3{
    font-size: 15px;
    font-weight: 600;
}
.cart .cartid .cartqty .empty p{
    font-size: 15px;
    font-weight: 500;
    color: #CECECE;
    text-align: center;
}
.row .row{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;

}
.cartEmpty .img{
    height: auto;
    width: auto;
}
.cartEmpty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.min{
    border-color:   #82DE3A;
    background-color: #82DE3A33;
    color: #82DE3A;
    border-style: solid;
}
.plus{
    border-color:   #82DE3A;
    background-color: #82DE3A33;
    color: #82DE3A;
    border-style: solid;
}
.btn-checkout{
    background-color: #57CAD5;
    border-style: none;
    color: white;
    height: 40px;
}
.btn-cancel{
    background-color:  #F24F8A;
    border-style: none;
    color: white;
    height: 40px;
}
.cartQty{
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(129, 222, 58, 0.514);
    background-color: rgba(129, 222, 58, 0.24);
}
.cartQty button{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    background-color: rgba(129, 222, 58, 0.24);
}
.cartQty span{
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
}
.cartPrice{
    font-weight: 700;
    font-size: 15px;
}
.totalPrice{
    margin-left: 180px;
}

/* CheckOut and Total Price */

.CheckOut{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    /* border: 1px solid red; */
}
.totalAll{
    display: flex;
    margin:0px 10px;
}
.totalAll h1{
    font-size: 20px;
    width: 50%;
    font-weight: 900;
}
.totalAll .price{
    width: 50%;
    display: flex;
    font-weight: 900;
    justify-content: flex-end;
}
.total p{
    margin : 2px 15px;
    /* margin-left: 15px; */
    font-size: 12px;
    font-weight: 600;
}

.button{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.button button{
    padding: 10px;
    font-size: 15px;
    margin: 2px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.button .checkOut{
    background-color: rgba(87, 202, 213, 1);
}
.button .Cancel{
    background: rgba(242, 79, 138, 1);
}
.cartImage img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
}
.listCart{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    padding: 10px;
}
.cartTitle {
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
}
.cartTitle .title{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    /* background-color: hotpink; */
    font-size: 18px;
    margin: 0px;
    font-weight: 600;
    margin-left: 10px;
}
.buttonPayment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonPayment button{
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    font-size: 20px;
    color: white;
}
.buttonPayment p{
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
}
.print{
    background-color: rgba(87, 202, 213, 1);
}
.email{
    background-color: rgba(242, 79, 138, 1);
}